version: "3.8"

services:
  frontend:
    build: ./frontend
    restart: always

  backend:
    build: ./backend
    restart: always

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
